button {
  padding: 10px;
  color: white;
  background: grey;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: flex-end;
}

.todo-list {
  background: grey;
  padding: 40px;

  li {
    padding: 10px;
  }
  
  li + li {
    margin-top: 10px;
  }
}

.hide {
  display: none;
}

i {
  margin: 20px;
  cursor: pointer;
  margin: 5px;
}

.edit-form {
  display: flex;
}

.task-item {
  background: white;
}

.done {
  background: lightgreen;
  color: grey;
}

